target

.checkstyle

jboss-as
jboss-eap
*.swp
*~

wildfly-*.zip
wildfly-*/

*.orig
qa/ext/log4j.jar
qa/ext/netty.jar
qa/TaskImpl.properties
ObjectStore/
CosServices.cfg
audit.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
