target
.project
.classpath
.settings
.checkstyle
*.iml
.idea
jboss-as
jboss-eap
*.swp
*~

wildfly-*.zip
wildfly-*/

*.orig
qa/ext/log4j.jar
qa/ext/netty.jar
qa/TaskImpl.properties
.DS_Store
ObjectStore/
apache-tomcat-*.zip
apache-tomcat-*/
tomcat/tomcat-deployment
tomcat-deployment/
narayana-tomcat/
CosServices.cfg
audit.log
