<!--
   Copyright The Narayana Authors
   SPDX short identifier: Apache-2.0
 -->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
    <display-name>XML Transaction Bridge Inbound Test Client</display-name>

    <description>XML Transaction Bridge Inbound Test Client</description>

    <servlet>
        <servlet-name>Inbound Test Client Servlet</servlet-name>
        <servlet-class>org.jboss.jbossts.txbridge.tests.inbound.client.TestClient</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Inbound Test Client Servlet</servlet-name>
        <url-pattern>/testclient</url-pattern>
    </servlet-mapping>
</web-app>