<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
    <servlet-name>HTTP SOAP Service Multiplexor Servlet</servlet-name>
    <servlet-class>com.arjuna.webservices.transport.http.HttpServiceMultiplexorServlet</servlet-class>
    <!--
      The BaseHttpURI and BaseHttpsURI parameters specify the default values
      used to generate the service URIs without reference to an incoming
      request.
     -->
    <init-param>
        <param-name>BaseHttpURI</param-name>
        <param-value>http://localhost:8080/jbossxts/soap/</param-value>
    </init-param>
    <!--
    <init-param>
        <param-name>BaseHttpsURI</param-name>
        <param-value>https://localhost:8080/xts/soap/</param-value>
    </init-param>
    <init-param>
        <param-name>LogPackets</param-name>
        <param-value>true</param-value>
    </init-param>
    -->
    <load-on-startup>1</load-on-startup>
</servlet>

    <!-- servlet mappings -->
<servlet-mapping>
    <servlet-name>HTTP SOAP Service Multiplexor Servlet</servlet-name>
    <url-pattern>/soap/*</url-pattern>
</servlet-mapping>
</web-app>
