<?xml version="1.0" encoding="UTF-8"?>
<Context antiJarLocking="true" antiResourceLocking="true">
    <!-- Narayana resources -->
    <Transaction factory="org.jboss.narayana.tomcat.jta.UserTransactionFactory"/>
    <Resource name="TransactionManager" type="javax.transaction.TransactionManager"
              factory="org.jboss.narayana.tomcat.jta.TransactionManagerFactory"/>
    <Resource name="TransactionSynchronizationRegistry" type="javax.transaction.TransactionSynchronizationRegistry"
              factory="org.jboss.narayana.tomcat.jta.TransactionSynchronizationRegistryFactory"/>

    <Resource name="rawDataSource" uniqueName="rawDatasource" auth="Container" description="Raw Data Source" loginTimeout="0"
              user="dtf11" password="dtf11" serverName="narayanaci1.eng.hst.ams2.redhat.com" portNumber="5432" databaseName="jbossts" type="org.postgresql.xa.PGXADataSource" factory="org.postgresql.xa.PGXADataSourceFactory"
    />
    <Resource name="transactionalDataSource" uniqueName="transactionalDataSource" auth="Container" type="javax.sql.DataSource"
	    transactionManager="TransactionManager" xaDataSource="rawDataSource" maxTotal="4" minIdle="8" maxIdle="16"
	    factory="org.jboss.narayana.tomcat.jta.TransactionalDataSourceFactory"/>
</Context>
