<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright The Narayana Authors
   SPDX short identifier: Apache-2.0
  -->
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <!-- One of the way of activating REST Services is adding these lines, the server is responsible for adding the corresponding servlet automatically. If the src folder, org.jboss.as.quickstarts.rshelloworld.HelloWorld class has the Annotations to receive REST invocation-->
    <display-name>Narayana LRA Coordinator</display-name>

    <listener>
        <listener-class>io.narayana.lra.coordinator.api.AppContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LRACoordinator</servlet-name>
        <servlet-class>io.narayana.lra.coordinator.api.Coordinator</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LRACoordinator</servlet-name>
        <url-pattern>/lra-coordinator/*</url-pattern>
    </servlet-mapping>
</web-app>
