name: axes_selector

on:
  pull_request:
    types: [ opened, edited, synchronize, reopened ]
  workflow_dispatch:
    inputs:
      jdk17:
        description: 'JDK17'
        required: true
        type: boolean
        default: false
      jdk21:
        description: 'JDK21'
        required: true
        type: boolean
        default: false
      jdk25:
        description: 'JDK25'
        required: true
        type: boolean
        default: true
      CORE:
        description: 'CORE testing axis'
        required: true
        type: boolean
        default: true
      RTS:
        description: 'RTS testing axis'
        required: true
        type: boolean
        default: false
      XTS:
        description: 'XTS testing axis'
        required: true
        type: boolean
        default: false
      AS_TESTS:
        description: 'AS_TESTS testing axis'
        required: true
        type: boolean
        default: false
      QA_JTA:
        description: 'QA_JTA testing axis'
        required: true
        type: boolean
        default: false
      QA_JTS_OPENJDKORB:
        description: 'QA_JTS_OPENJDKORB testing axis'
        required: true
        type: boolean
        default: false
      JACOCO:
        description: 'JACOCO testing axis'
        required: true
        type: boolean
        default: false
      DB_TESTS:
        description: 'DB_TESTS testing axis'
        required: true
        type: boolean
        default: false
      PERFORMANCE:
        description: 'PERFORMANCE testing axis'
        required: true
        type: boolean
        default: false
      postgres:
        description: 'PostgreSQL will be used for the DB_TESTS testing axis.'
        required: false
        type: boolean
        default: false
      mysql:
        description: 'MySQL will be used for the DB_TESTS testing axis.'
        required: false
        type: boolean
        default: false
      oracle:
        description: 'Oracle will be used for the DB_TESTS testing axis.'
        required: false
        type: boolean
        default: false
      db2:
        description: 'DB2 will be used for the DB_TESTS testing axis.'
        required: false
        type: boolean
        default: false
      pull_request_repo:
        description: 'Repository to check out'
        required: false
        type: string
      pull_request_ref:
        description: 'Branch or commit to test'
        required: false
        type: string
      AS_BRANCH:
        description: 'AS_BRANCH: the branch/commit of jboss-as to checkout.'
        required: false
        type: string
      NARAYANA_FORK_BRANCH_TO_REBASE_ON:
        description: 'NARAYANA_FORK_BRANCH_TO_REBASE_ON'
        required: false
        type: string
      SPI_BRANCH:
        description: 'SPI_BRANCH: the branch/commit of jboss-transaction-spi to checkout.'
        required: false
        type: string
      PERF_PR_NUMBER:
        description: 'PERF_PR_NUMBER: PR number to checkout for the performance repo tests.'
        required: false
        type: string
  workflow_call:
    inputs:
      jdk_versions:
        description: 'JDK versions'
        required: true
        type: string
        default: '["25"]'
      pull_request_repo:
        description: 'Repository to check out (optional)'
        required: false
        type: string
      pull_request_ref:
        description: 'Branch or commit to test (optional)'
        required: false
        type: string
      CORE:
        description: 'CORE testing axis'
        required: true
        type: boolean
        default: true
      RTS:
        description: 'RTS testing axis'
        required: true
        type: boolean
        default: false
      XTS:
        description: 'XTS testing axis'
        required: true
        type: boolean
        default: false
      AS_TESTS:
        description: 'AS_TESTS testing axis'
        required: true
        type: boolean
        default: false
      QA_JTA:
        description: 'QA_JTA testing axis'
        required: true
        type: boolean
        default: false
      QA_JTS_OPENJDKORB:
        description: 'QA_JTS_OPENJDKORB testing axis'
        required: true
        type: boolean
        default: false
      JACOCO:
        description: 'JACOCO testing axis'
        required: true
        type: boolean
        default: false
      DB_TESTS:
        description: 'DB_TESTS testing axis'
        required: true
        type: boolean
        default: false
      PERFORMANCE:
        description: 'PERFORMANCE testing axis'
        required: true
        type: boolean
        default: false
      enabled_databases:
        description: 'The collection of databases to test against'
        required: false
        type: string
        default: '["postgres","mysql","oracle","db2"]'
      environment_variables:
        description: 'The environment variables to use in narayana.sh'
        required: false
        type: string
        default: '{}'

permissions:
  actions: write
  pull-requests: read
  contents: read

jobs:
  axes_selector:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    outputs:
      CORE: ${{ steps.parse.outputs.CORE || steps.set-axes-inputs.outputs.CORE || 'true' }}
      AS_TESTS: ${{ steps.parse.outputs.AS_TESTS || steps.set-axes-inputs.outputs.AS_TESTS || 'true' }}
      RTS: ${{ steps.parse.outputs.RTS || steps.set-axes-inputs.outputs.RTS || 'true' }}
      XTS: ${{ steps.parse.outputs.XTS || steps.set-axes-inputs.outputs.XTS || 'true' }}
      QA_JTA: ${{ steps.parse.outputs.QA_JTA || steps.set-axes-inputs.outputs.QA_JTA || 'true' }}
      QA_JTS_OPENJDKORB: ${{ steps.parse.outputs.QA_JTS_OPENJDKORB || steps.set-axes-inputs.outputs.QA_JTS_OPENJDKORB || 'true' }}
      JACOCO: ${{ steps.parse.outputs.JACOCO || steps.set-axes-inputs.outputs.JACOCO || 'true' }}
      DB_TESTS: ${{ steps.parse.outputs.DB_TESTS || steps.set-axes-inputs.outputs.DB_TESTS || 'false' }}
      PERFORMANCE: ${{ steps.parse.outputs.PERFORMANCE || steps.set-axes-inputs.outputs.PERFORMANCE || 'true' }}
      enabled_databases: ${{ steps.parse.outputs.enabled_databases || steps.set-axes-inputs.outputs.enabled_databases || '' }}
      jdk_versions: ${{ steps.parse.outputs.jdk_versions || steps.set-axes-inputs.outputs.jdk_versions || '["25"]' }}
      environment_variables: ${{ steps.parse.outputs.environment_variables || steps.set-axes-inputs.outputs.environment_variables || '{}' }}
      pr_number: ${{ steps.set-pr-data.outputs.pr_number }}
      pr_ref: ${{ steps.set-pr-data.outputs.pr_ref }}
      pr_repo: ${{ steps.set-pr-data.outputs.pr_repo }}

    steps:
      - name: Extract PR metadata
        id: set-pr-data
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          echo 'pr_number=${{ github.event.pull_request.number }}' >> $GITHUB_OUTPUT
          echo 'pr_ref=${{ github.event.pull_request.head.ref }}' >> $GITHUB_OUTPUT
          echo 'pr_repo=${{ github.event.pull_request.head.repo.full_name }}' >> $GITHUB_OUTPUT

      - name: Parse PR description
        id: parse
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/github-script@v8
        with:
          script: |
            const pr = context.payload.pull_request;
            const prBody = pr.body || '';
            const workflowAxes = [
              'CORE',
              'AS_TESTS',
              'RTS',
              'XTS',
              'QA_JTA',
              'QA_JTS_OPENJDKORB',
              'JACOCO',
              'DB_TESTS',
              'PERFORMANCE'
            ];
            
            // Convert '! AXIS' to '!AXIS'
            const processedBody = prBody.replace(/!\s+/g, '!');
            // Normalise description: replace newlines and commas with spaces and split the result into a set of tokens
            const tokens = new Set(processedBody.replace(/[\r\n,]/g, ' ').split(/\s+/));

            let axis_selected = false;
            let db_tests_triggered = false;
            // Determine which workflows to run
            for (const axis of workflowAxes) {
              if (tokens.has(axis) && !tokens.has(`!${axis}`)) {
                core.info(`Axis ${axis} REQUESTED.`);
                core.setOutput(axis, 'true');
                if (axis == 'DB_TESTS') {
                  db_tests_triggered = true;
                }
                axis_selected = true;
              } else {
                core.info(`Axis ${axis} NOT REQUESTED.`);
                core.setOutput(axis, 'false');
              }
            }

            if (!axis_selected) {
                core.info(`No axis was requested, so run CORE at least.`);
                core.setOutput('CORE', 'true');
            }
            
            if (db_tests_triggered) {
              const possibleDBs = ['mysql', 'db2', 'postgres', 'oracle'];
            
              let selectedDBs = [];
              for (const db of possibleDBs) {
                if (tokens.has(db) && !tokens.has(`!${db}`)) {
                  core.info(`Database ${db} SELECTED.`);
                  selectedDBs.push(db);
                } else {
                  core.info(`Database ${db} NOT REQUESTED.`);
                }
              }
            
              if (selectedDBs.length === 0) {
                core.info(`Empty or invalid input. All possible databases will be selected: ${possibleDBs.join(', ')}`);
                selectedDBs = possibleDBs;
              }
            
              core.setOutput('enabled_databases', JSON.stringify(selectedDBs));
            }
            
            // Matches JDK17, JDK21, etc.
            const jdkRegex = /\bJDK(17|21|25)\b/gi;
            const matches = [...prBody.matchAll(jdkRegex)];
            let jdk_versions = matches.map(m => parseInt(m[1], 10));
            if (jdk_versions.length === 0) {
              jdk_versions = [25];
              core.info(`Using JDK25.`);
            } else {
              core.info(`JDKs detected in PR body: ${jdk_versions}`);
            }
            core.setOutput('jdk_versions', JSON.stringify(jdk_versions));
            
            const possibleEnvVars = [
              'AS_BRANCH',
              'SPI_BRANCH',
              'PERF_PR_NUMBER'
            ];
            
            const extractedEnvVars = {};
            
            for (const varName of possibleEnvVars) {
              // Matches "VAR=value" stopping at the first whitespace
              const regex = new RegExp(`\\b${varName}=([^\\s]+)`);
              const match = prBody.match(regex);
            
              if (match) {
                const value = match[1];
                core.info(`Environment variables ${varName} detected: ${value}`);
                extractedEnvVars[varName] = value;
              }
            }
            
            core.setOutput('environment_variables', JSON.stringify(extractedEnvVars));

      - name: Set axes according to triggering event
        id: set-axes-inputs
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/github-script@v8
        with:
          script: |
            // Creates jdk_versions
            const jdk_versions = [
              ${{ inputs.jdk17 }} && '17',
              ${{ inputs.jdk21 }} && '21',
              ${{ inputs.jdk25 }} && '25'
            ].filter(Boolean);

            core.setOutput('jdk_versions', JSON.stringify(jdk_versions));
            core.setOutput('CORE', '${{ inputs.CORE }}');
            core.setOutput('AS_TESTS', '${{ inputs.AS_TESTS }}');
            core.setOutput('RTS', '${{ inputs.RTS }}');
            core.setOutput('XTS', '${{ inputs.XTS }}');
            core.setOutput('QA_JTA', '${{ inputs.QA_JTA }}');
            core.setOutput('QA_JTS_OPENJDKORB', '${{ inputs.QA_JTS_OPENJDKORB }}');
            core.setOutput('JACOCO', '${{ inputs.JACOCO }}');
            core.setOutput('DB_TESTS', '${{ inputs.DB_TESTS }}');
            core.setOutput('PERFORMANCE', '${{ inputs.PERFORMANCE }}');
            if (${{ inputs.DB_TESTS }}) {
              // Creates enabled_databases
              const selected_databases = [
                ${{ inputs.postgres }} && 'postgres',
                ${{ inputs.mysql }} && 'mysql',
                ${{ inputs.oracle }} && 'oracle',
                ${{ inputs.db2 }} && 'db2'
              ].filter(Boolean);
            
              if (selected_databases.length === 0) {
                const possibleDBs = ['postgres', 'mysql', 'oracle', 'db2'];
                core.info(`No database has been selected. All possible databases will be activated: ${possibleDBs.join(', ')}`);
                core.setOutput('enabled_databases', JSON.stringify(possibleDBs));
              } else {
                core.setOutput('enabled_databases', JSON.stringify(selected_databases));
              }
            }
            
            const extractedEnvVars = Object.fromEntries([
              ['AS_BRANCH', '${{ inputs.AS_BRANCH }}'],
              ['NARAYANA_FORK_BRANCH_TO_REBASE_ON', '${{ inputs.NARAYANA_FORK_BRANCH_TO_REBASE_ON }}'],
              ['SPI_BRANCH', '${{ inputs.SPI_BRANCH }}'],
              ['PERF_PR_NUMBER', '${{ inputs.PERF_PR_NUMBER }}']
            ].filter(entry => entry[1] !== ''));

            core.info(`Custom Envs: ${JSON.stringify(extractedEnvVars)}`);
            core.setOutput('environment_variables', JSON.stringify(extractedEnvVars));

  as_builder:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.CORE == 'true' ||
      needs.axes_selector.outputs.RTS == 'true' ||
      needs.axes_selector.outputs.XTS == 'true' ||
      needs.axes_selector.outputs.JACOCO == 'true' }}
    uses: ./.github/workflows/as_builder.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.axes_selector.outputs.jdk_versions) }}
    with:
      CORE: ${{ needs.axes_selector.outputs.CORE }}
      RTS: ${{ needs.axes_selector.outputs.RTS }}
      XTS: ${{ needs.axes_selector.outputs.XTS }}
      JACOCO: ${{ needs.axes_selector.outputs.JACOCO }}
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}
      environment_variables: ${{ needs.axes_selector.outputs.environment_variables }}

  AS_TESTS:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.AS_TESTS == 'true' }}
    uses: ./.github/workflows/as_tests.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.axes_selector.outputs.jdk_versions) }}
    with:
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}
      environment_variables: ${{ needs.axes_selector.outputs.environment_variables }}

  QA_JTA:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.QA_JTA == 'true' }}
    uses: ./.github/workflows/qa_jta.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.axes_selector.outputs.jdk_versions) }}
    with:
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}

  QA_JTS_OPENJDKORB:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.QA_JTS_OPENJDKORB == 'true' }}
    uses: ./.github/workflows/qa_jts_openjdkorb.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.axes_selector.outputs.jdk_versions) }}
    with:
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}

  DB_TESTS:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.DB_TESTS == 'true' }}
    uses: ./.github/workflows/db_tests.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.axes_selector.outputs.jdk_versions) }}
    with:
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}
      enabled_databases: ${{ needs.axes_selector.outputs.enabled_databases }}

  PERFORMANCE:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.PERFORMANCE == 'true' }}
    uses: ./.github/workflows/performance.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.axes_selector.outputs.jdk_versions) }}
    with:
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}
      environment_variables: ${{ needs.axes_selector.outputs.environment_variables }}
