name: axes_selector

on:
  workflow_dispatch:
    inputs:
      jdk_version:
        description: 'JDK version'
        required: true
        type: string
        default: '17'
      pull_request_repo:
        description: 'Repository to check out'
        required: false
        type: string
      pull_request_ref:
        description: 'Branch or commit to test (optional)'
        required: false
        type: string
      CORE:
        description: 'Whether CORE should be run'
        required: true
        type: boolean
        default: true
      RTS:
        description: 'Whether RTS should be run'
        required: true
        type: boolean
        default: false
      XTS:
        description: 'Whether XTS should be run'
        required: true
        type: boolean
        default: false
      AS_TESTS:
        description: 'Whether AS_TESTS should be run'
        required: true
        type: boolean
        default: false
      QA_JTA:
        description: 'Whether QA_JTA should be run'
        required: true
        type: boolean
        default: false
      QA_JTS_OPENJDKORB:
        description: 'Whether QA_JTS_OPENJDKORB should be run'
        required: true
        type: boolean
        default: false
      JACOCO:
        description: 'Whether JACOCO should be run'
        required: true
        type: boolean
        default: false
      DB_TESTS:
        description: 'Whether DB_TESTS should be run'
        required: true
        type: boolean
        default: false
      PERFORMANCE:
        description: 'Whether PERFORMANCE should be run'
        required: true
        type: boolean
        default: false
      enabled_databases:
        description: 'The collection of databases to test against'
        type: string
        default: '["postgres","mysql","oracle","db2"]'
  workflow_call:
    inputs:
      jdk_version:
        description: 'JDK version'
        required: true
        type: string
        default: '17'
      pull_request_repo:
        description: 'Repository to check out'
        required: false
        type: string
      pull_request_ref:
        description: 'Branch or commit to test (optional)'
        required: false
        type: string
      CORE:
        description: 'Whether CORE should be run'
        required: true
        type: boolean
        default: true
      RTS:
        description: 'Whether RTS should be run'
        required: true
        type: boolean
        default: false
      XTS:
        description: 'Whether XTS should be run'
        required: true
        type: boolean
        default: false
      AS_TESTS:
        description: 'Whether AS_TESTS should be run'
        required: true
        type: boolean
        default: false
      QA_JTA:
        description: 'Whether QA_JTA should be run'
        required: true
        type: boolean
        default: false
      QA_JTS_OPENJDKORB:
        description: 'Whether QA_JTS_OPENJDKORB should be run'
        required: true
        type: boolean
        default: false
      JACOCO:
        description: 'Whether JACOCO should be run'
        required: true
        type: boolean
        default: false
      DB_TESTS:
        description: 'Whether DB_TESTS should be run'
        required: true
        type: boolean
        default: false
      PERFORMANCE:
        description: 'Whether PERFORMANCE should be run'
        required: true
        type: boolean
        default: false
      enabled_databases:
        description: 'The collection of databases to test against'
        type: string
        default: '["postgres","mysql","oracle","db2"]'

jobs:
  axes_selector:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    outputs:
      CORE: ${{ steps.set-axes-inputs.outputs.CORE || 'true' }}
      AS_TESTS: ${{ steps.set-axes-inputs.outputs.AS_TESTS || 'true' }}
      RTS: ${{ steps.set-axes-inputs.outputs.RTS || 'true' }}
      XTS: ${{ steps.set-axes-inputs.outputs.XTS || 'true' }}
      QA_JTA: ${{ steps.set-axes-inputs.outputs.QA_JTA || 'true' }}
      QA_JTS_OPENJDKORB: ${{ steps.set-axes-inputs.outputs.QA_JTS_OPENJDKORB || 'true' }}
      JACOCO: ${{ steps.set-axes-inputs.outputs.JACOCO || 'true' }}
      DB_TESTS: ${{ steps.set-axes-inputs.outputs.DB_TESTS || 'false' }}
      PERFORMANCE: ${{ steps.set-axes-inputs.outputs.PERFORMANCE || 'true' }}
      enabled_databases: ${{ steps.set-axes-inputs.outputs.enabled_databases || '' }}
      jdk_version: ${{ steps.set-axes-inputs.outputs.jdk_version || '["17"]' }}
      pr_number: ${{ steps.set-pr-data.outputs.pr_number }}
      pr_ref: ${{ steps.set-pr-data.outputs.pr_ref }}
      pr_repo: ${{ steps.set-pr-data.outputs.pr_repo }}

    steps:
      - name: Extract PR metadata
        id: set-pr-data
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          echo 'pr_number=${{ github.event.pull_request.number }}' >> $GITHUB_OUTPUT
          echo 'pr_ref=${{ github.event.pull_request.head.ref }}' >> $GITHUB_OUTPUT
          echo 'pr_repo=${{ github.event.pull_request.head.repo.full_name }}' >> $GITHUB_OUTPUT

      - name: Set axes according to triggering event
        id: set-axes-inputs
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/github-script@v8
        with:
          script: |
            core.setOutput('jdk_version', '${{ inputs.jdk_version }}');
            core.setOutput('CORE', '${{ inputs.CORE }}');
            core.setOutput('AS_TESTS', '${{ inputs.AS_TESTS }}');
            core.setOutput('RTS', '${{ inputs.RTS }}');
            core.setOutput('XTS', '${{ inputs.XTS }}');
            core.setOutput('QA_JTA', '${{ inputs.QA_JTA }}');
            core.setOutput('QA_JTS_OPENJDKORB', '${{ inputs.QA_JTS_OPENJDKORB }}');
            core.setOutput('JACOCO', '${{ inputs.JACOCO }}');
            core.setOutput('DB_TESTS', '${{ inputs.DB_TESTS }}');
            core.setOutput('PERFORMANCE', '${{ inputs.PERFORMANCE }}');
            if (${{ inputs.DB_TESTS }}) {
              const enabled_databases = JSON.parse(${{ inputs.enabled_databases }});
              const possibleDBs = ['postgres', 'mysql', 'oracle', 'db2'];
            
              const filteredDBs = possibleDBs.filter(db => enabled_databases.includes(db.toLowerCase()));
            
              if (filteredDBs.length === 0) {
                core.info(`Empty or invalid input. All possible databases will be selected: ${possibleDBs.join(', ')}`);
                core.setOutput('enabled_databases', JSON.stringify(possibleDBs));
              }
            }

  as_builder:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.CORE == 'true' ||
      needs.axes_selector.outputs.RTS == 'true' ||
      needs.axes_selector.outputs.XTS == 'true' ||
      needs.axes_selector.outputs.JACOCO == 'true' }}
    uses: ./.github/workflows/as_builder.yml
    with:
      CORE: ${{ needs.axes_selector.outputs.CORE }}
      RTS: ${{ needs.axes_selector.outputs.RTS }}
      XTS: ${{ needs.axes_selector.outputs.XTS }}
      JACOCO: ${{ needs.axes_selector.outputs.JACOCO }}
      jdk_version: ${{ needs.axes_selector.outputs.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}

  AS_TESTS:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.AS_TESTS == 'true' }}
    uses: ./.github/workflows/as_tests.yml
    with:
      jdk_version: ${{ needs.axes_selector.outputs.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}

  QA_JTA:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.QA_JTA == 'true' }}
    uses: ./.github/workflows/qa_jta.yml
    with:
      jdk_version: ${{ needs.axes_selector.outputs.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}

  QA_JTS_OPENJDKORB:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.QA_JTS_OPENJDKORB == 'true' }}
    uses: ./.github/workflows/qa_jts_openjdkorb.yml
    with:
      jdk_version: ${{ needs.axes_selector.outputs.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}

  DB_TESTS:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.DB_TESTS == 'true' }}
    uses: ./.github/workflows/db_tests.yml
    with:
      jdk_version: ${{ needs.axes_selector.outputs.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}
      enabled_databases: ${{ needs.axes_selector.outputs.enabled_databases }}

  PERFORMANCE:
    needs: axes_selector
    if: ${{ needs.axes_selector.outputs.PERFORMANCE == 'true' }}
    uses: ./.github/workflows/performance.yml
    with:
      jdk_version: ${{ needs.axes_selector.outputs.jdk_version }}
      pull_request_ref: ${{ needs.axes_selector.outputs.pr_ref }}
      pull_request_repo: ${{ needs.axes_selector.outputs.pr_repo }}
