name: Pull Request Dispatcher

on:
  pull_request:
    types: [ opened, edited, synchronize, reopened ]

jobs:
  pull-request-dispatcher:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    outputs:
      CORE: ${{ steps.parse.outputs.CORE }}
      AS_TESTS: ${{ steps.parse.outputs.AS_TESTS }}
      RTS: ${{ steps.parse.outputs.RTS }}
      XTS: ${{ steps.parse.outputs.XTS }}
      QA_JTA: ${{ steps.parse.outputs.QA_JTA }}
      QA_JTS_OPENJDKORB: ${{ steps.parse.outputs.QA_JTS_OPENJDKORB }}
      JACOCO: ${{ steps.parse.outputs.JACOCO }}
      DB_TESTS: ${{ steps.parse.outputs.DB_TESTS }}
      PERFORMANCE: ${{ steps.parse.outputs.PERFORMANCE }}
      enabled_databases: ${{ steps.parse.outputs.enabled_databases }}
      jdk_versions: ${{ steps.parse.outputs.jdk_versions }}
      pr_number: ${{ steps.set-pr-data.outputs.pr_number }}
      pr_ref: ${{ steps.set-pr-data.outputs.pr_ref }}
      pr_repo: ${{ steps.set-pr-data.outputs.pr_repo }}

    steps:
      - name: Extract PR metadata
        id: set-pr-data
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          echo 'pr_number=${{ github.event.pull_request.number }}' >> $GITHUB_OUTPUT
          echo 'pr_ref=${{ github.event.pull_request.head.ref }}' >> $GITHUB_OUTPUT
          echo 'pr_repo=${{ github.event.pull_request.head.repo.full_name }}' >> $GITHUB_OUTPUT

      - name: Parse PR description
        id: parse
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/github-script@v8
        with:
          script: |
            const pr = context.payload.pull_request;
            const prBody = pr.body;
            const workflowAxes = [
              'CORE',
              'AS_TESTS',
              'RTS',
              'XTS',
              'QA_JTA',
              'QA_JTS_OPENJDKORB',
              'JACOCO',
              'DB_TESTS',
              'PERFORMANCE'
            ];

            // Convert '! AXIS' to '!AXIS'
            const processedBody = prBody.replace(/!\s+/g, '!');
            // Normalise description: replace newlines and commas with spaces and split the result into a set of tokens
            const tokens = new Set(processedBody.replace(/[\r\n,]/g, ' ').split(/\s+/));

            let db_tests_triggered = false;
            // Determine which workflows to run
            for (const axis of workflowAxes) {
              if (tokens.has(axis) && !tokens.has(`!${axis}`)) {
                core.info(`Axis ${axis} REQUESTED.`);
                core.setOutput(axis, 'true');
                if (axis == 'DB_TESTS') {
                  db_tests_triggered = true;
                }
              } else {
                core.info(`Axis ${axis} NOT REQUESTED.`);
                core.setOutput(axis, 'false');
              }
            }

            if (db_tests_triggered) {
              const possibleDBs = ['mysql', 'db2', 'postgres', 'oracle'];

              let selectedDBs = [];
              for (const db of possibleDBs) {
                if (tokens.has(db) && !tokens.has(`!${db}`)) {
                  core.info(`Database ${db} SELECTED.`);
                  selectedDBs.push(db);
                } else {
                  core.info(`Database ${db} NOT REQUESTED.`);
                }
              }

              if (selectedDBs.length === 0) {
                core.info(`Empty or invalid input. All possible databases will be selected: ${possibleDBs.join(', ')}`);
                selectedDBs = possibleDBs;
              }

              core.setOutput('enabled_databases', JSON.stringify(selectedDBs));
            }

            // Matches JDK17, JDK 17, JDK:17, JDK=17, etc.
            const jdkRegex = /\bJDK\s*[:=\-\s]*\s*(17|21|25)\b/gi;
            const matches = [...prBody.matchAll(jdkRegex)];

            let jdk_versions = matches.map(m => parseInt(m[1], 10));

            if (jdk_versions.length === 0) {
              jdk_versions = [17];
              core.info(`Using JDK17.`);
            } else {
              core.info(`JDKs detected in PR body: ${jdk_versions}`);
            }

            core.setOutput('jdk_versions', JSON.stringify(jdk_versions));

  as_builder:
    needs: pull-request-dispatcher
    if: ${{ needs.pull-request-dispatcher.outputs.CORE == 'true' ||
      needs.pull-request-dispatcher.outputs.RTS == 'true' ||
      needs.pull-request-dispatcher.outputs.XTS == 'true' ||
      needs.pull-request-dispatcher.outputs.JACOCO == 'true' }}
    uses: ./.github/workflows/as_builder.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.pull-request-dispatcher.outputs.jdk_versions) }}
    with:
      CORE: ${{ needs.pull-request-dispatcher.outputs.CORE }}
      RTS: ${{ needs.pull-request-dispatcher.outputs.RTS }}
      XTS: ${{ needs.pull-request-dispatcher.outputs.XTS }}
      JACOCO: ${{ needs.pull-request-dispatcher.outputs.JACOCO }}
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.pull-request-dispatcher.outputs.pr_ref }}
      pull_request_repo: ${{ needs.pull-request-dispatcher.outputs.pr_repo }}

  AS_TESTS:
    needs: pull-request-dispatcher
    if: ${{ needs.pull-request-dispatcher.outputs.AS_TESTS == 'true' }}
    uses: ./.github/workflows/as_tests.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.pull-request-dispatcher.outputs.jdk_versions) }}
    with:
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.pull-request-dispatcher.outputs.pr_ref }}
      pull_request_repo: ${{ needs.pull-request-dispatcher.outputs.pr_repo }}

  QA_JTA:
    needs: pull-request-dispatcher
    if: ${{ needs.pull-request-dispatcher.outputs.QA_JTA == 'true' }}
    uses: ./.github/workflows/qa_jta.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.pull-request-dispatcher.outputs.jdk_versions) }}
    with:
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.pull-request-dispatcher.outputs.pr_ref }}
      pull_request_repo: ${{ needs.pull-request-dispatcher.outputs.pr_repo }}

  QA_JTS_OPENJDKORB:
    needs: pull-request-dispatcher
    if: ${{ needs.pull-request-dispatcher.outputs.QA_JTS_OPENJDKORB == 'true' }}
    uses: ./.github/workflows/qa_jts_openjdkorb.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.pull-request-dispatcher.outputs.jdk_versions) }}
    with:
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.pull-request-dispatcher.outputs.pr_ref }}
      pull_request_repo: ${{ needs.pull-request-dispatcher.outputs.pr_repo }}

  DB_TESTS:
    needs: pull-request-dispatcher
    if: ${{ needs.pull-request-dispatcher.outputs.DB_TESTS == 'true' }}
    uses: ./.github/workflows/db_tests.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.pull-request-dispatcher.outputs.jdk_versions) }}
    with:
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.pull-request-dispatcher.outputs.pr_ref }}
      pull_request_repo: ${{ needs.pull-request-dispatcher.outputs.pr_repo }}
      enabled_databases: ${{ needs.pull-request-dispatcher.outputs.enabled_databases }}

  PERFORMANCE:
    needs: pull-request-dispatcher
    if: ${{ needs.pull-request-dispatcher.outputs.PERFORMANCE == 'true' }}
    uses: ./.github/workflows/performance.yml
    strategy:
      matrix:
        jdk_version: ${{ fromJSON(needs.pull-request-dispatcher.outputs.jdk_versions) }}
    with:
      jdk_version: ${{ matrix.jdk_version }}
      pull_request_ref: ${{ needs.pull-request-dispatcher.outputs.pr_ref }}
      pull_request_repo: ${{ needs.pull-request-dispatcher.outputs.pr_repo }}