name: qa_jta

on:
  workflow_call:
    inputs:
      jdk_version:
        description: 'JDK version'
        required: true
        type: string
      pull_request_repo:
        description: 'Repository to check out'
        required: true
        type: string
        default: 'jbosstm/narayana'
      pull_request_ref:
        description: 'Branch or commit to test'
        required: true
        type: string

# Only run the latest job
concurrency:
  group: 'qa_jta @ ${{ github.workflow }} @ ${{ github.head_ref || github.ref }} @ jdk${{ inputs.jdk_version }}'
  cancel-in-progress: true

jobs:
  qa_jta-test:
    name: Testing QA_TARGET ${{ matrix.qa_target }} with JDK ${{ inputs.jdk_version }} and DB ${{ matrix.database }}
    timeout-minutes: 120
    runs-on: ubuntu-latest
    strategy:
      matrix:
        database: [ 'postgres', 'mysql', 'oracle', 'db2' ]
        qa_target: [ 'junit-testsuite', 'junit-jdbc-testsuite' ]
    env:
      TARGET_DB: "jbossts"

    steps:
      - name: Log run context
        run: |
          echo "Triggered by: ${{ github.event_name }}"
          echo "Repository: ${{ inputs.pull_request_repo || github.repository }}"
          echo "Branch/Ref: ${{ inputs.pull_request_ref || github.ref }}"

      - name: Checkout code
        uses: actions/checkout@v5
        with:
          repository: '${{ inputs.pull_request_repo || github.repository }}'
          ref: ${{ inputs.pull_request_ref || github.ref }}

      - name: Configure and restart PostgreSQL
        if: ${{ matrix.database == 'postgres' }}
        uses: ./.github/actions/postgres_setup_ubuntu_runner
        with:
          target_db: ${{ env.TARGET_DB }}

      - name: Starts and configure MySQL
        if: ${{ matrix.database == 'mysql' }}
        uses: ./.github/actions/mysql_setup_ubuntu_runner

      - name: Starts and configure Oracle
        if: ${{ matrix.database == 'oracle' }}
        uses: ./.github/actions/oracle_setup_ubuntu_runner

      - name: Pull, starts and configure DB2
        if: ${{ matrix.database == 'db2' }}
        uses: ./.github/actions/db2_setup_ubuntu_runner

      - name: Set up JDK ${{ inputs.jdk_version }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ inputs.jdk_version }}
          cache: 'maven'

      - name: Remove Narayana and WildFly from the Maven cache
        run: |
          rm -rf ~/.m2/repository/org/jboss/narayana
          rm -rf ~/.m2/repository/org/wildfly

      - name: QA_JTA testing axis
        id: qa_jta_axis
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          QA_PROFILE="-Dprofile=${{ matrix.database }}" QA_TARGET=${{ matrix.qa_target }} NARAYANA_BUILD=1 NARAYANA_TESTS=0 QA_TESTS=1 OPENJDK_ORB=1 ./.github/scripts/narayana.sh

      - uses: actions/upload-artifact@v4
        if: ${{ failure() && steps.qa_jta_axis.conclusion == 'failure' || cancelled() && steps.qa_jta_axis.conclusion == 'cancelled' }}
        with:
          retention-days: 30
          name: qa_jta-logs-jdk${{ inputs.jdk_version }}
          path: qa/testoutput
          if-no-files-found: warn

      - name: Stop and delete DB2
        if: ${{ always() && matrix.database == 'db2' }}
        run: |
          docker stop db2server
          docker rm db2server
